<app-nav></app-nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label>Login</label>
                    <input type="text" class="form-control" placeholder="Enter Login" [(ngModel)]="login" name="login"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" [(ngModel)]="password"
                        name="password" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="email" name="email"
                        autocomplete="off">
                </div>
                <button *ngIf="!editStatus" type="button" class="btn btn-success" (click)="addUser()">Add</button>
                <button *ngIf="editStatus" type="button" class="btn btn-success" (click)="saveUser()">Save</button>
            </form>
        </div>
        <div class="col-6 right-block">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Login</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUsers; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td><button type="button" class="btn btn-warning" (click)="editUser(user)"
                                [disabled]="editStatus">Edit</button></td>
                        <td><button type="button" class="btn btn-danger" (click)="deleteUser(i)"
                                [disabled]="editStatus">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>