<div class="container mt-5">
  <div class="row my-flex">
    <div class="card" style="width: 300px;">
      <img class="card-img-top" src="../../../assets/1.jpg" alt="Card image cap">
      <div class="card-body p-0">
        <p class="card-text text-center text-danger mt-2">Angular list of prohibited words</p>
        <div class="container-fluid border bg-light p-3">
          <a [routerLink]="[ '/cenzor' ]" class="btn btn-success w-100">details</a>
        </div>
      </div>
    </div>
    <div class="card" style="width: 300px;">
      <img class="card-img-top" src="../../../assets/1.jpg" alt="Card image cap">
      <div class="card-body p-0">
        <p class="card-text text-center text-danger mt-2">Angular user list</p>
        <div class="container-fluid border bg-light p-3">
          <a [routerLink]="[ '/user' ]" class="btn btn-success w-100">details</a>
        </div>
      </div>
    </div>
    <div class="card" style="width: 300px;">
      <img class="card-img-top" src="../../../assets/1.jpg" alt="Card image cap">
      <div class="card-body p-0">
        <p class="card-text text-center text-danger mt-2">Angular task list</p>
        <div class="container-fluid border bg-light p-3">
          <a [routerLink]="[ '/task' ]" class="btn btn-success w-100">details</a>
        </div>
      </div>
    </div>
  </div>
</div>